# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
*.spec.bak

# Entornos
.venv/
venv/
env/

# Herramientas
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# uv
uv.lock

# IDE
.idea/
.vscode/

# Runtime
*.log
state.json
config.toml
