altgraph==0.17.5
annotated-types==0.7.0
anyio==4.14.1
ast-serialize==0.6.0
bandit==1.9.4
bidict==0.23.1
boolean-py==5.0
cachecontrol==0.14.4
certifi==2026.6.17
cfgv==3.5.0
charset-normalizer==3.4.7
colorama==0.4.6
coverage==7.15.0
cyclonedx-python-lib==11.11.0
dbus-fast==5.0.22
defusedxml==0.7.1
desktop-notifier==6.2.0
distlib==0.4.3
filelock==3.29.5
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
identify==2.6.19
idna==3.18
iniconfig==2.3.0
librt==0.12.0
license-expression==30.4.4
linkify-it-py==2.1.0
macholib==1.16.4
markdown-it-py==4.2.0
mdit-py-plugins==0.6.1
mdurl==0.1.2
msgpack==1.2.1
mypy==2.1.0
mypy-extensions==1.1.0
nodeenv==1.10.0
packageurl-python==0.17.6
packaging==26.2
pathspec==1.1.1
pefile==2024.8.26
pillow==12.3.0
pip==26.1.2
pip-api==0.0.34
pip-audit==2.10.1
pip-requirements-parser==32.0.1
platformdirs==4.10.0
pluggy==1.6.0
pre-commit==4.6.0
py-serializable==2.1.0
pydantic==2.13.4
pydantic-core==2.46.4
pygments==2.20.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pyobjc-core==12.2.1
pyobjc-framework-cocoa==12.2.1
pyobjc-framework-quartz==12.2.1
pyparsing==3.3.2
pystray==0.19.5
pytest==9.1.1
pytest-asyncio==1.4.0
pytest-cov==7.1.0
python-discovery==1.4.3
python-xlib==0.33
pywin32-ctypes==0.2.3
pyyaml==6.0.3
requests==2.34.2
rich==15.0.0
rubicon-objc==0.5.6
ruff==0.15.20
setuptools==83.0.0
six==1.17.0
sortedcontainers==2.4.0
stevedore==5.9.0
textual==8.2.8
tomli==2.4.1
tomli-w==1.2.0
typing-extensions==4.16.0
typing-inspection==0.4.2
tzdata==2026.2
uc-micro-py==2.0.0
urllib3==2.7.0
virtualenv==21.5.1
websockets==16.0
winrt-runtime==3.2.1
winrt-windows-applicationmodel-core==3.2.1
winrt-windows-data-xml-dom==3.2.1
winrt-windows-foundation==3.2.1
winrt-windows-foundation-collections==3.2.1
winrt-windows-ui-notifications==3.2.1
